<footer class="fixed-bottom ">
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span></span>

    <button mat-button class="example-btn">Click me!</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span></span>

    <button mat-button class="example-btn">Click me!</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
  </mat-toolbar-row>

</mat-toolbar>
</footer>
