
.spacerhaut{
  margin-top:20px;
}
.example-card {
  color:oldlace;
}
.espace-bottom{

  margin-bottom: 150px;
}
.espace-bat{
  margin-bottom: 15px;
}
.espace{
  margin-top: 20px;
}
.example-full-width {
  width: 100%;
}
td {
  padding-right: 8px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
