<div class="panel panel-default spacerhaut" > <!--*ngIf="panierService.getCurrentPanier().items"-->
  <div class="panel-heading">{{panierService.getCurrentPanier().name}}
  </div>
  <div class="panel-body">
    <table class="table table-bordered" >
      <tr>
        <th>ID</th><th>Name</th><th>Quantity</th><th>Price</th><th>Supprimer</th>
      </tr>
      <tr  *ngFor="let pi of panierService.getCurrentPanier().items.values()">
        <td>{{pi.produit.idProduit}}</td>
        <td>{{pi.produit.nom}}</td>
        <td>{{pi.quantity|number:'0.2'}}</td>
        <td>{{pi.prix|number:'0.2'}}</td>
        <td>
          <button class="btn btn-danger" (click)="onRemoveProductFromPanier(pi)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="2">Total</td>
        <td>{{panierService.getTotalQuantite()}} article</td>
        <td>{{panierService.getTotalPrix()|number:'0.2'}}</td>
        <td></td>
      </tr>
    </table>
    <button class="btn btn-success" (click)="onNewOrder()">Commander</button>
  </div>
